body {
    text-align: center;
    background-color: #c2e6ec;
}

.title{
    font-size: 58px;
}

.table-caption{
    font-family: 'Bungee Inline', cursive;
    font-size: 20px;
}

.main-font {
    font-family: 'Bungee Inline', cursive;
}

#message {
    background-color: white;
    /*border: 4px solid gray;*/
    position: absolute;
    left: 50%;
    top: 25%;
    width: 60%;
    height: 25%;
    transform: translateX(-50%);
    z-index: 10;
    visibility: hidden;
    font-size: 2.5em;
    filter: drop-shadow(8px 8px 20px #5b5b5b);
}

#message-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.btn.active {
    background-color: #73cba9;
    transition: color 0.7s;
    color: white;
}

.btn.active:hover {
    color: #4f632e;
}

.btn.logout {
    position: absolute;
    left: 3%;
    top: 3%;
}

.btn.logout.active {
    background-color: #a3b991;
}

.btn.logout.active:hover {
    color: #30583b;
}

.controls-message {
    opacity: 0;
    color: red;
    margin-top:2%;
}

.fade {
    transition: opacity 0.5s linear;
}

#upload-div {
    display: none;
}

#upload-btn {
    background-color: #85b8e4;
}

.table{
    background: white;
}

.peek-div {
    /*display: inline-block;*/
    background-color: white;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 10;
    visibility: hidden;
    font-size: 2.5em;
    filter: drop-shadow(8px 8px 20px #5b5b5b);
    padding: 1.4em;
}

.table > tbody > tr > td.streak{
    cursor: pointer;
    text-align: center;
    border-top-color: transparent;
}

td.cell.Undefined{
    background: #b1b1b1;
}

td.cell {
    width: 2%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #d0d0d0;
    transition: color 0.5s, border-color 0.3s;
}

td.streak{
    width:1%;
    white-space:nowrap;
}

#colStreaks > td {
    border-top: none;
}