body {
    text-align: center;
    font-size: 20px;
    background-color: #c2e6ec;
}

input {
    font-size: 25px;
}

#error-container {
    visibility: hidden;
    color: #ff534e;
}

.main-font {
    font-family: 'Bungee Inline', cursive;
}

.logo {
    margin-top: 2em;
}

.btn.active {
    background-color: #73cba9;
    transition: color 0.7s;
    color: white;
}

.btn.active:hover {
    color: #4f632e;
}

input#username {
    text-align: center;
    color: #557479;
    padding: 0.2em;
}