body {
    text-align: center;
    background-color: #c2e6ec;
}

.main-font {
    font-family: 'Bungee Inline', cursive;
}

#title {
    font-size: 3.6em;
    margin-bottom: 0.3em;
    margin-top: 1.6em;
}

.btn.active {
    background-color: #73cba9;
    transition: color 0.7s;
    color: white;
}

.btn.active:hover {
    color: #4f632e;
}

.btn.leave {
    position: absolute;
    left: 3%;
    top: 3%;
}

.btn.leave.active {
    background-color: #a3b991;
    transition: color 0.7s;
    color: white;
}

.btn.leave.active:hover {
    color: #30583b;
}

.table > tbody > tr > td.streak{
    cursor: pointer;
    text-align: center;
    border-top-color: transparent;
}

div#make-move-panel{
    top:50%;
    display:none;
    /*border: 1px solid #122b40;*/
    transition: visibility 0.7s
}

td.cell.selected{
    border: 3px solid #8a324e;
}

td.cell.Filled{
    background: #2c313e;
}

td.cell.Blank{
    background: white;
}

td.cell.Undefined{
    background: #b1b1b1;
}

td.cell {
    width: 2%;
    cursor: pointer;
    text-align: center;
    border: 1px solid #d0d0d0;
    transition: color 0.5s, border-color 0.3s;
}

td.streak{
    width:1%;
    white-space:nowrap;
}

.current-player {
    background-color: #ffcfee;
}

.controls-message {
    opacity: 0;
    color: red;
    margin-top:2%;
}

.control {
    margin: 0.1em;
}

.fade {
    transition: opacity 0.5s linear;
}

#room-info {
    display: none;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.table.players-table{
    background: white;
}

.game-board {
    font-weight: bold;
}

.perfect {
    /*background-color: #ffc203;*/
    color: #ffc203;
}

#game-over-message {
    display: inline-block;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: 100;
    visibility: hidden;
    font-size: 2.5em;
    filter: drop-shadow(8px 8px 20px #5b5b5b);
}

#game-over-message-text {
    padding: 1.7em;
    background-color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#game-over-subtitle {
    font-size: 0.6em;
}

#colStreaks > td {
    border-top: none;
}

#wait-msg {
    display: none;
}