.root {
    -fx-background-color: #b5e9e2;
    -fx-font-size: 16px;
}

.menu-button {
    -fx-margin-top: 40px;
}

.button-selected {
    -fx-border-color: deeppink;
}

.button-filled {
    -fx-background-color: #8a324e;
}

.button-blank {
    -fx-background-color: white;
}

.button-undefined {
}